* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Russo One", sans-serif;
}

// VARIABLES
$white: #cfcfc4;
$orange: #ff9700;

body {
  background-color: #232733;
  color: $white;
}

.highlighted {
  color: #ff9700;
}

.sectionHeading {
  font-size: 62px;
  margin: 0 auto;
}

.usedLine {
  position: fixed;
  border-left: 2px solid $orange;
  z-index: 2;
  height: 100vh;
  top: 60vh;
  left: 20px;
}

.startLine {
  position: absolute;
  border-left: 2px solid #4b473e;
  height: 100vh;
  top: 60vh;
  left: 20px;
}

.middleLine {
  position: absolute;
  top: 100vh;
  border-left: 2px solid #4b473e;
  height: 100vh;
  left: 20px;
}

.endLine {
  position: fixed;
  top: 0;
  display: none;
  border-left: 2px solid #4b473e;
  height: 100vh;
  left: 20px;
}

.dot {
  position: fixed;
  top: 60vh;
  left: 16px;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: $orange;
}

nav {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #232733;

  button {
    width: 50px;
    background-color: transparent;
    color: $white;
    font-size: 28px;
    z-index: 10;
  }

  .links {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .socials {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      font-size: 24px;
    }
  }

  a {
    text-decoration: none;
    color: $white;
    font-size: 18px;

    &:hover {
      color: $orange;
      transition: 0.6s ease-out;
    }
  }
}

.introduction {
  height: 100vh;
  width: fit-content;
  margin: 0 auto;
  padding-top: 200px;
  text-align: left;

  h1 {
    font-size: 62px;
    padding-left: 5%;
  }

  p {
    font-size: 28px;
    padding-left: 100px;
  }
}

#projects {
  width: 80%;
  margin: 20px auto;

  .projectContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;

    img {
      width: 100%;
      height: auto;
      margin: 10px auto;
    }

    h2 {
      padding-left: 10px;
      margin: 10px 0;
      color: $orange;
      font-size: 28px;
    }

    svg {
      margin-bottom: 20px;
      color: $orange;
    }
  }

  .iconsAndDescription {
    display: flex;
    width: 100%;

    .icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 50px;
      font-size: 28px;
    }

    p {
      font-size: 24px;
      line-height: 30px;
      margin: 15px 0;
    }

    span {
      color: #94979e;
      font-size: 18px;
    }
  }
}

#about {
  width: 80%;
  min-height: 100vh;
  margin: 50px auto;

  .aboutMe {
    font-size: 24px;
    line-height: 30px;
  }

  .skills {
    h2 {
      font-size: 28px;
      margin: 30px 0;
    }

    li::first-letter {
      color: $orange;
    }

    li {
      list-style: none;
      font-size: 21px;
    }

    // [title~="HTML5"] {
    //   font-size: 52px;
    //   color: #e54c21;
    // }

    // [title~="css3"] {
    //   font-size: 52px;
    //   color: #264de4;
    // }

    // [title~="Git"] {
    //   font-size: 52px;
    //   color: #f05033;
    // }

    // [title~="JS"] {
    //   font-size: 52px;
    //   color: #f7e018;
    // }

    // [title~="react"] {
    //   font-size: 52px;
    //   color: #61dbfb;
    //   background-color: black;
    // }

    // [title~="Angular"] {
    //   font-size: 52px;
    //   color: #dd0031;
    // }

    // [title~="yarn"] {
    //   font-size: 52px;
    //   color: #248dbd;
    // }

    // [title~="firebase"] {
    //   font-size: 52px;
    //   color: #ffcb2c;
    // }

    // [title~="nodejs"] {
    //   font-size: 52px;
    //   color: #8bc500;
    // }
  }
}

footer {
  h2 {
    width: 80%;
    margin: 0 auto;
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $orange;
    height: 120px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-top: 50px;

    .links {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      button {
        background-color: white;
        color: $orange;
        height: 25px;
        width: 25px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
      }
      svg {
        font-size: 28px;
        color: white;
      }
    }

    h2 {
      text-align: center;
      margin-top: 20px;
      color: white;
      font-family: sans-serif;
      font-size: 18px;

      span {
        font-weight: normal;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .introduction {
    h1 {
      font-size: 82px;
    }
  }

  .sectionHeading {
    font-size: 82px;
    text-align: center;
  }

  #projects {
    .projectContainer {
      flex-direction: row-reverse;

      img {
        width: 50%;
        margin-left: 50px;
      }
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-5-31 11:52:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-out-bottom {
  -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
