* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Russo One", sans-serif;
}

body {
  background-color: #232733;
  color: #cfcfc4;
}

.highlighted {
  color: #ff9700;
}

.sectionHeading {
  font-size: 62px;
  margin: 0 auto;
}

.usedLine {
  position: fixed;
  border-left: 2px solid #ff9700;
  z-index: 2;
  height: 100vh;
  top: 60vh;
  left: 20px;
}

.startLine {
  position: absolute;
  border-left: 2px solid #4b473e;
  height: 100vh;
  top: 60vh;
  left: 20px;
}

.middleLine {
  position: absolute;
  top: 100vh;
  border-left: 2px solid #4b473e;
  height: 100vh;
  left: 20px;
}

.endLine {
  position: fixed;
  top: 0;
  display: none;
  border-left: 2px solid #4b473e;
  height: 100vh;
  left: 20px;
}

.dot {
  position: fixed;
  top: 60vh;
  left: 16px;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: #ff9700;
}

nav {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232733;
}

nav button {
  width: 50px;
  background-color: transparent;
  color: #cfcfc4;
  font-size: 28px;
  z-index: 10;
}

nav .links {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .socials {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav .socials a {
  font-size: 24px;
}

nav a {
  text-decoration: none;
  color: #cfcfc4;
  font-size: 18px;
}

nav a:hover {
  color: #ff9700;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.introduction {
  height: 100vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding-top: 200px;
  text-align: left;
}

.introduction h1 {
  font-size: 62px;
  padding-left: 5%;
}

.introduction p {
  font-size: 28px;
  padding-left: 100px;
}

#projects {
  width: 80%;
  margin: 20px auto;
}

#projects .projectContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px auto;
}

#projects .projectContainer img {
  width: 100%;
  height: auto;
  margin: 10px auto;
}

#projects .projectContainer h2 {
  padding-left: 10px;
  margin: 10px 0;
  color: #ff9700;
  font-size: 28px;
}

#projects .projectContainer svg {
  margin-bottom: 20px;
  color: #ff9700;
}

#projects .iconsAndDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#projects .iconsAndDescription .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 50px;
  font-size: 28px;
}

#projects .iconsAndDescription p {
  font-size: 24px;
  line-height: 30px;
  margin: 15px 0;
}

#projects .iconsAndDescription span {
  color: #94979e;
  font-size: 18px;
}

#about {
  width: 80%;
  min-height: 100vh;
  margin: 50px auto;
}

#about .aboutMe {
  font-size: 24px;
  line-height: 30px;
}

#about .skills h2 {
  font-size: 28px;
  margin: 30px 0;
}

#about .skills li::first-letter {
  color: #ff9700;
}

#about .skills li {
  list-style: none;
  font-size: 21px;
}

footer h2 {
  width: 80%;
  margin: 0 auto;
}

footer #contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #ff9700;
  height: 120px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin-top: 50px;
}

footer #contact .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer #contact .links button {
  background-color: white;
  color: #ff9700;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

footer #contact .links svg {
  font-size: 28px;
  color: white;
}

footer #contact h2 {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .introduction h1 {
    font-size: 82px;
  }
  .sectionHeading {
    font-size: 82px;
    text-align: center;
  }
  #projects .projectContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #projects .projectContainer img {
    width: 50%;
    margin-left: 50px;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-5-31 11:52:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-out-bottom {
  -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/*# sourceMappingURL=style.css.map */